button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.container{
    max-width: 1170px;
    margin: auto;
    padding: 1vh;
}

.req{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}







