.reqList{
    display: flex;
    width: 100%;
    min-width: 470px;
    flex-direction: column;
}

.reqGrid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1px;
    padding-top: 1px;
    // background-color: #404040;
}

.reqCell{
    background-color: #fffdf4;
    color: #000000;
    min-height: 20px;
    min-width: 40px;
    padding: 5px 2px 5px 2px;
    font-size: medium;
}

.reqCellDisabled{
    border: none;
}

.reqCellActive{
    border: 1px solid #ccc;;
}

.title{
    font-weight: bold;
}

.editbtn{
    background-color: #afad4c;
}

.deletebtn{
    background-color: #af4c5c;
}

.clickable{
    cursor: pointer;
}