button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.container{
    max-width: 1170px;
    margin: auto;
    padding: 1vh;
}

.req{
    display: flex;
    justify-content: center;
    align-items: center;

}

.reqList{
    display: flex;
    min-width: 470px;
    flex-direction: column;
}

.title{
    font-weight: bold;
}

.reqGrid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1px;
    padding-top: 1px;
    // background-color: #404040;
}

.reqCell{
    background-color: #fffae1;
    color: #000000;
    min-height: 20px;
    min-width: 40px;
    padding: 5px 2px 5px 2px;
}

.reqAdd{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}