.reqHeader{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.inputCurrentUser{
    border: none;
    font-weight: bold;
    font-size: medium;
}

.addbtn{
    background-color: #4c82af;
}